<section class="products-show">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="product-detail-row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
        </dl>
      </div>
      <br><br>
<div>
<br><br><br>
  <% if current_user.present? %>

      <div class="col-sm-8">
      <dl class="dl-horizontal">
      <%= form_for :review, url: product_reviews_path(@product) do |f | %>
      <dl class="dl-horizontal">
         <dd></dd>
         <dt><%= f.label :rating %></dt>
         <dd><%= f.select(:rating, [1,2,3,4,5])  %><br></dd>
         <dt><%= f.label :description %></dt>
         <dd><%= f.text_area :description %></dd>
         <dt></dt>
         <dd><%= f.submit("Create review") %></dd>
       </dl>
       <% end %>
     </div>
</dl></div>
<% end %>

      <div class="review-row">
      <div class="col-sm-8">
      <dl class="dl-horizontal">
      <dt>Reviews</dt><br><br>
          <% @reviews.each do |review| %>
            <b><dt> <i class="fas fa-user-circle"></i></dt></b>
            <dd><%= review.user.name %></dd>
            <dd><i style= "font-size: 11px"> <%= review.created_at %></i></style></dd>
            <dt><b> Rating</b></dt>
            <dd><%= review.rating %> <i class="fas fa-star"></i></dd>
            <dt> Description</dt>
            <dd><i><%= review.description %></i></dd>

          <% if current_user == review.user %>
          <dt><%= link_to fa_icon('trash'), [@product, review] , class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></dt>
          <% end %>
          <% end %>
         </dl>
    </div>

  </article>


</section>
