<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
      <br><br>
<div>
<br><br><br>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
<%= form_for :review, url: product_reviews_path(@product) do |f | %>
       <dl class="dl-horizontal">
         <dt><h4>Add a review:</h4></dt>
         <dd></dd>
         <dt><%= f.label :rating %></dt>
         <dd><%= f.select(:rating, [1,2,3,4,5])  %></dd>
         <dt><%= f.label :description %></dt>
         <dd><%= f.text_area :description %></dd>
         <dt></dt>
         <dd><%= f.submit("Create review") %></dd>
       </dl>
       <% end %>
     </div>
</dl></div>

    <div class="row">
      <div class="col-sm-8">
      <dl class="dl-horizontal">
        <div> Reviews </div>
        <ul>
          <% @reviews.each do |review| %>
          <div><b> Reviewd by:</b>  &nbsp <%= review.user.name %></div>
          <div><b> Rating out of 5:  &nbsp </b> <%= review.rating %></div>
          <div><b> Reviewed created: </b>  &nbsp <%= review.created_at %></div>
          <div><b> Review description:</b>  &nbsp<i> <%= review.description %><i></div>

          <% end %>
          </ul>
</dl>
    </div>
  </div>

  </article>

</section>
